*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background: linear-gradient(#248ecf, rgb(79, 79, 172));
  }

  .container {
    color: #fff;
    text-align: center;
    width: 500px;
    margin: auto;
  }